* { 
  font-family: Verdana, Arial, Helvetica, Sans-serif;
}

body { 
  font-size: 12px;
}

img#bg { 
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

h1, h2, h3, h4, h5, h6 { 
  color: red;
  background: yellow;
  opacity: .8;
  padding: 15px 10px;
}

a { 
  color: red;
}

label { 
  display: block;
}

li.beu {
  display: block;
  border-bottom: dotted 1px grey;
  font-size: 16px;
  margin: 0;
  padding: 0;

  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 40px;
}

ul { 
  margin: 0;
  padding: 0;
}

div.header {
  margin: 10px;
  margin-bottom: 30px;
}

div.menu { 
  border: solid red 2px;
  padding: 10px;
  margin: 10px;
  float: right;
  margin-top: 20px;
  background: yellow;
}

#canvas { 
  margin: 0 auto;
  width: 998px;
  min-height: 777px;
  margin-top: 0px;
  position: relative;
  display: block;
}

div.beu_form { 
  border: solid yellow 2px;
  background: #c00;
  margin: 0 auto;
  width: 800px;
  padding: 20px;
  margin-bottom: 40px;
  opacity: .7;
  color: yellow;
  font-weight: bold;
  font-size: 18px;
}

div.beu_form input {
  font-size: 18px;
}

#beu_lijstje { 
  background: #fff;
  opacity: .7;
  padding: 5px;
  border: solid red 2px;
}

a.user {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

a.tag { 
  color: black;
}

input { 
  background: yellow;
  color: red;
}

.notice, .error { 
  background: white;
  color: red;
  display: block;
  font-size: 14px;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

.notice { 
  color: green;
}

.date_box, .options_box { 
  float: right;
  font-size: 10px;
  text-align: right;
}

.options_box { 
  border-left: dotted grey 1px;
  padding-left: 5px;
  margin-left: 5px;
  height: 55px;
}

.avatar { 
  float: left;
  padding-right: 8px;
}